body {
background-color: silver;
position:relative;
}

table {
width: 100%;
border-collapse: collapse;

}

table th
{
text-align:center;
}

tr.alt td {
background: #6996D3;
color:white;
text-align:center;
}




td {
padding-top: 10px;
padding-bottom: 10px;
height: 100%;
width:25%;
text-align:center;
}


#container {
text-align:center;
width: 842px;
margin: auto;
background-color:white;
overflow:auto;
}

#header {
text-align:center;
}

#navigation { 
text-align:left;
border-style:ridge;
border-width:5px;
border-color:gray;
background-color:gray;
height: 20px;
}

.font {
color: black;
}

.content { }

#footer {
text-align: center;
}

#img {
float:left;
}

a {
color: black;
}



